
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home-Page{
width: 100vw;
height: 100vh;
display: grid;
grid-template-rows: 20% 78% 2%;
background-image: url(fast.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 70%;
}
.Home-Page nav{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.Home-Page nav h1{
    font-size: 3.5vmax;
    font-family:'Times New Roman';
    font-variant:small-caps;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color:rgba(17, 158, 90, 0.41);
    border-width: 5px;
    border-color: black;
    border-style:groove;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    text-align: center;
    padding-top: 1.2vh;
}
.Home-Page nav .emptiness{
    grid-column: 1/2;
    grid-row: 1/3;
}
.Home-Page footer{
    text-align: center;
    background-color: rgba(0, 128, 0, 1);
    opacity: 85%;
}
.Home-Page nav ul{
    display: flex;
    background-color:rgba(17, 158, 90, 0.41);
    list-style: none;
    border-width: 5px;
    border-color: black;
    border-style:groove;
    border-top: 0;
    border-right: 0;
    padding-left: 2.5vw;
}
.Home-Page nav ul li{
    text-align: center;
    padding-top: 1.5vh;
}
.Home-Page nav ul li>a{
    background-color: crimson;
    padding: 0.8vw;
    margin-left: 1.2vw;
    font-size: 1.8vw;
    text-decoration: none;
    color: darkkhaki;
}
.Home-Page nav ul li>a:hover{
    border-width: 5px;
    border-color: black;
    border-style:groove;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    color: limegreen;
    text-decoration: underline;
}
.dropdownsemesters{
    display: none;
    position: absolute;
    font-size: 1.4vw;
    border-style:groove;
    background-color: rgba(211, 176, 139, 0.65);
    margin-left: 1vw;
}
.dropdownsemesters >a{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Home-Page nav ul li.GradesDrop:hover .dropdownsemesters{
    display: flex;
    position: relative;
    flex-direction: column;
}
.Home-Page nav ul li.GradesDrop{
    display: block;
}
